@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lobster&display=swap');
*{
    text-align: center;
    justify-content: center;
    overflow: hidden;
    background: url(2.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
#bulb{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
   
 
}
h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    padding-top: 50px;
    color: rgb(5, 77, 77);
    text-decoration: underline rgb(2, 78, 53);
    text-shadow: 2px 2px 5px teal;
}
.block{
    background: transparent; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(16, 85, 64);
    padding: 15px 32px;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .block:hover{
    background-color:rgba(206, 230, 253, 0.836);
    border-radius: 10px;
    border: dashed darkolivegreen;
  }
button{
    position: relative;
    margin-top: 4%;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
